* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color: hsl(233, 8%, 62%);
}

h1 {
  font-weight: 700;
  color: hsl(233, 26%, 24%);
  
}


a {
  color: hsl(233, 8%, 62%);
}
/* 
no-repeat center center fixed */

/* main  {
  background: url('/images/bg-intro-mobile.svg') no-repeat center center fixed ;
  background-size: 100%  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} */



img {
  max-width: 100%;
}

.fa {
  transition: 0.3s;
  font-size: 1.5rem;
  color: hsl(233, 26%, 24%);
}

.container {
  width: 90%;
  max-width: 832px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 99999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 ;
  
}

 .nav_items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.nav_item {
  padding: 1.2em 0;
}

.nav_items__toggle {
  display: block;
}

a.btn {
  padding: 0.8em 1em;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 30px;
  color: #fff;
 
}

/* main section */

main {
  background: url('/images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction_content {
  padding: 2em 0;
}

.introduction_content > p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}









/* MEDIA QUERIES */



@media (min-width:800px) {
  .container {
    width: 85%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  
  .nav_items {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-basis: 75%;  

  }

  .linkA {
    display: flex;
    gap: 20px;
  }

  .linkB {
    flex: 1 0;
    text-align: right;
  }

 


 
  .nav_item  {
    padding: 0;
  }
 

  .toggle {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  /* main section */

  main {
    background: url('/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    /* background-size: 200px auto; */
    background-position: 500px;
    
  }

  .introduction {
    display: inline-block;
  }

  .introduction_content {
    text-align: left;
    padding-top: 10em;
    padding-bottom: 10em;
    max-width: 300px;
    
  }

  .introduction_image {
    top: -150px;
    right: 0;
    object-fit: fit;
    position: absolute;
    
  }

  #mobile_phone {
    object-position: 120px;
    
    
  }


  
}

@media (min-width: 1000px) {
  .nav_items {
    flex-basis: 65%; 
  }

  .linkA {
    gap: 30px;
  }
}