* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Public Sans', sans-serif;
}

a {
  color: hsl(233, 8%, 62%);
}

.fa {
  transition: 0.3s;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  max-width: 832px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 ;
}

.nav_items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

.nav_item {
  padding: 1.2em 0;
}

.nav_items__toggle {
  display: block;
}







/* MEDIA QUERIES */

@media (min-width:900px) {
  .container {
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  
  .nav_items {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-basis: 65%;
    
    
  }

  .linkA {
    display: flex;
    gap: 30px;
  }

  .linkB {
    flex: 1 0;
    text-align: right;
  }

  a.btn {
    padding: 0.8em 1em;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 30px;
    color: #fff;
  }


 
  .nav_item  {
    padding: 0;
  }
 

  .toggle {
    display: none;
  }


  
}