* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  color: hsl(233, 8%, 62%);
  line-height: 1.5;
}
h1 {
  font-size: 2.3rem;
}

h1, h2 {
  font-weight: 500;
  color: hsl(233, 26%, 24%);
  
}


a {
  color: hsl(233, 8%, 62%);
}

img {
  max-width: 100%;
}

.fa {
  transition: 0.3s;
  font-size: 1.5rem;
  color: hsl(233, 26%, 24%);
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 99999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 ;
  
}

 .nav_items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.nav_item {
  padding: 1.2em 0;
}

.nav_items__toggle {
  display: block;
}

a.btn {
  padding: 0.8em 1em;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 30px;
  color: #fff;
 
}

/* main section */

main {
  background: url('/images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position-y: -60px; */
  
  padding-bottom: 2em;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction_content {
  padding: 2em 0;
}

.introduction_content > p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

/* about section */

.about {
  background-color: hsl(220, 16%, 96%);
  padding-top: 4em;
  padding-bottom: 4em;
  
}

.about h2 {
  font-size: 2rem;
}

.about_card, .article_card {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.about_section__paragraph {
  padding-top: 2em;
  padding-bottom: 4em;
  
}

.about_card h3 {
  color: hsl(233, 26%, 24%);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1.25rem;
  font-weight: 300;
}

/* article section */
.article {
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 4em;
}

.article h2 {
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-size: 1.5rem;
}

.article_card {
  text-align: left;
}

.article_card figure {
  background-color: #fff;
}

.article_caption {
  padding: 2em 2em 3em;
}

.article_caption h4 {
  font-weight:600;
  color: hsl(233, 26%, 24%);
  font-size: 0.9rem;
  margin: 0.8rem 0;
}







/* MEDIA QUERIES */
@media (min-width:700px) {
  main {
    background-position-y: -60px;
  }
}



@media (min-width:800px) {

  body {
    font-size: 18px;
  }

  .container {
    width: 85%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  
  .nav_items {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-basis: 75%;  

  }

  .linkA {
    display: flex;
    gap: 20px;
  }

  .linkB {
    flex: 1 0;
    text-align: right;
  }

 


 
  .nav_item  {
    padding: 0;
  }
 

  .toggle {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  /* main section */

  main {
    background: url('/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    /* background-size: 200px auto; */
    background-position: 400px -250px;
    
  }

  .introduction {
    display: inline-block;
  }

  .introduction_content {
    text-align: left;
    padding-top: 7em;
    padding-bottom: 3em;
    max-width: 300px;
    
  }

  .introduction_image {
    top: -40px;
    right: 0px;
    position: absolute;
    
  }

  #mobile_phone {
    object-position: 120px;
    max-width: 550px;    
  }

  /* about section */
  .about {
    text-align: left;
  }

  .about_card {
    flex-direction: row;
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  .about_section__paragraph {
    max-width: 50%;
  }

  .about_card > * {
    flex-grow: 1;
    flex-basis: 40%;
  }

  /* article section */

  .article_card {
    flex-direction: row;
    column-gap: 2rem;
    flex-wrap: wrap;
  }

  .article_card > * {
    flex-grow: 1;
    flex-basis: 40%;
  }

  .article_caption h4 {
    font-size: 1.2rem;
  }
  
  .article img {
    height: 15vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }


  
}

@media (min-width: 1000px) {
  .nav_items {
    flex-basis: 65%; 
  }

  .linkA {
    gap: 30px;
  }

  /* main section */
  h1 {
    font-size: 3rem;
  }

  main {
    background-position: 500px -250px;
    
  }


  .introduction_content{
    padding-bottom: 5em;
    max-width: 350px;
  }

  .introduction_image {
    top: -70px;
  }

  #mobile_phone {
    width: 700px;
    max-width: 100%;
  }

}

@media (min-width:1200px) {

  .introduction_content{
    max-width: 450px;
  }

  .introduction_image {
    top: -150px;
  }

  main {
    background-position: 700px -250px;
    
  }

  #mobile_phone {
    /* width: 700px; */
    max-width: 100%;
  }

  /* about section */
  .about_card > * {
    flex-grow: 1;
    flex-basis: 20%;
  }

  
}

@media (min-width: 1400px) {
  /* article section */
  .article_card > * {
    flex-grow: 1;
    flex-basis: 22%;
  }
}